.incidencia-item {
    background-color: #00FFFF;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #FF1493;
}

.incidencia-titulo {
    color: #FF1493;
}

.incidencia-descripcion {
    color: #FF1493;
}

.incidencia-usuario {
    color: #FF1493;
}

.incidencia-urgencia {
    color: #FF1493;
}

.incidencia-ubicacion {
    color: #FF00FF;
}